/*Sets default user popout position to center.*/

.userPopout-3XzG_A {
	--user-popout-position: center;
}

/* ======================== */
/* #BIBI = DONO DO PROJETO. */
/*         #BOTBLUFY        */
/* ======================== */

[user_by_bdfdb*="749789188378984591"],
[data-user-id*="749789188378984591"] {
	--user-background: url('https://i.imgur.com/EipgmvH.gif');
  	--user-poopout-position:right !important;
}

[user_by_bdfdb*="815764399942926357"],
[data-user-id*="815764399942926357"] {
	--user-background: url('https://i.imgur.com/WxUqOTb.gif');
  	--user-poopout-position:right !important;
}


/* ======================== */
/* ALGUNS AMIGOS ESPECIAIS. */
/* ======================== */

/* oMega#5906 */

[user_by_bdfdb*="247910119474593792"],
[data-user-id*="247910119474593792"] {
	--user-background: url('https://i.imgur.com/N3bBV5Q.gif');
}

/* 👑Owner👑#4731 */

[user_by_bdfdb*="328360110592098304"],
[data-user-id*="328360110592098304"] {
	--user-background: url('https://i.imgur.com/PrZSB9a.gif');
}

/*LucasST#1725 and Faustino#4734*/

[user_by_bdfdb*="678684444810543149"],
[data-user-id*="678684444810543149"],
[user_by_bdfdb*="648338127232040960"],
[data-user-id*="648338127232040960"] {
	--user-background: url('https://i.imgur.com/J1tq677.jpg');
}

/* italoneves#7227 */

[user_by_bdfdb*="613764874555621376"],
[data-user-id*="613764874555621376"] {	
	--user-background: url('https://i.imgur.com/tVUWNXQ.gif');
}	

/* FsT#8409 */

[user_by_bdfdb*="569187855864430597"],
[data-user-id*="569187855864430597"] {	
	--user-background: url('https://i.imgur.com/WS1GroH.gif');
}	
